<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-heading" jhiTranslate="jhipsterDemoApp.student.home.createOrEditLabel">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.fname" for="field_fname">Fname</label>
                    <input type="text" class="form-control" name="fname" id="field_fname"
                           formControlName="fname"/>
                    <div *ngIf="editForm.get('fname')!.invalid && (editForm.get('fname')!.dirty || editForm.get('fname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fname')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.mname" for="field_mname">Mname</label>
                    <input type="text" class="form-control" name="mname" id="field_mname"
                           formControlName="mname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.lname" for="field_lname">Lname</label>
                    <input type="text" class="form-control" name="lname" id="field_lname"
                           formControlName="lname"/>
                    <div *ngIf="editForm.get('lname')!.invalid && (editForm.get('lname')!.dirty || editForm.get('lname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lname')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.dob" for="field_dob">Dob</label>
                    <div class="input-group">
                        <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" formControlName="dob"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.dept" for="field_dept">Dept</label>
                    <input type="text" class="form-control" name="dept" id="field_dept"
                           formControlName="dept"/>
                    <div *ngIf="editForm.get('dept')!.invalid && (editForm.get('dept')!.dirty || editForm.get('dept')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dept')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterDemoApp.student.university" for="field_university">University</label>
                    <input type="text" class="form-control" name="university" id="field_university"
                           formControlName="university"/>
                    <div *ngIf="editForm.get('university')!.invalid && (editForm.get('university')!.dirty || editForm.get('university')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('university')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
